<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="../static/img/goals-store.png">
            </div>
            <ul class="footer-links">
                <li><a href="/">Home</a></li>
                <li><a href="/static/index.html">Login</a></li>
                <li><a href="/static/new-account.html">Signin</a></li>
            </ul>
        </div>
        <p class="footer-info">© Interdisciplinary Portfolio - Technology Challenge</p>
    </div>
</footer>
<style>
  /* Estilos del footer */
.footer {
    background-color: #1c2c53;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; /* Cambia el color a tu elección */
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #33a3ff; /* Cambia el color al pasar el mouse */
}

.footer-info {
    margin-top: 20px;
    font-size: 14px;
}

/* Estilos para diseño responsive */
@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo {
        margin-bottom: 10px;
    }

    .footer-links {
        margin-top: 10px;
    }
}
</style>