<div class="modal-overlay" id="modal">
  <form action="create-note" method="post">
      <div class="modal-content">
        <label for="nota">Crear nueva nota:</label> <br>
        <textarea id="nota" name="nota"></textarea>
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <input type="hidden" name="id" value="{{ id }}">
        <input type="hidden" name="date_note_create" value="Pendiente">
        <input type="hidden" name="username" value="{{ username }}">
        <input type="hidden" name="password" value="{{ password }}">
        <input id="crear" class="modal-button" type="submit" value="Crear nota">
        <span class="button_close">Cancelar</span>


      </div>
  </form>

</div>
<style>
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Asegura que la ventana modal esté en la parte superior */
  }
  .modal-overlay form{
    width: 40%;
    min-width: 300px;
  }
  /* Estilos para la ventana modal */
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;

  }

  /* Estilos para el botón */
  .modal-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    min-width: 115px;

  }

  .modal-button:hover {
    background-color: #2980b9;
  }
  #nota{

    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    max-height: 500px;
    padding: 20px;

  }
  .button_close{
    background: red;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    min-width: 115px;
    transition: background-color 0.3s ease;

  }
  .button_close:hover {
    background-color: rgb(180, 0, 0);
  }
</style>
<script>
  const openModalButton = document.querySelector('.create-button');
  const modal = document.getElementById('modal');
  const button_send_data = document.querySelector('#crear');
  const button_close = document.querySelector('.button_close');

  openModalButton.addEventListener('click', () => {
    modal.style.display = 'flex';
  });
  button_close.addEventListener('click', ()=>{
    modal.style.display = 'none';
  });

</script>