    <section class="main-content">
        <h1>Goals store</h1>
        <img src="../static/img/goals-store.png" class="img-principal ">
        <h2>Are you forgetful?</h2>
        <p>Write and remember your goals right now</p>
        <div class="cta-buttons">
            <a href="/static/new-account.html" class="btn-primary">Sign in </a>
            <a href="/static/index.html" class="btn-secondary">Login</a>
        </div>
    </section>
<style>
   .img-principal {
    width: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    font-size: 35px;
    margin-bottom: 0px;
    color: #007bff;
}

.main-content {
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.cta-buttons {
    display: flex;
    justify-content: center;
}

.btn-primary, .btn-secondary {
    padding: 10px 20px;
    text-decoration: none;
    min-width: 200px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.btn-primary {
    background-color: #007BFF;
    color: #fff;
    margin-right: 10px;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-primary:hover, .btn-secondary:hover {
    transform: scale(1.05);
}

</style>