<p>Proyecto para mi clase de Ingles (:</p>
<h1>Goals store</h1>
<img src="../static/img/goals-store.png" class="img-principal">
<div class="container_buttons">
    <a href="/static/new-account.html">Registrate</a>
    <a href="/static/index.html">Inicia sesion</a>
</div>
<h2>¿Eres olvidadizo?</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel amet nostrum quas quisquam neque sapiente dolorem, porro minima quaerat corrupti repellat laudantium aut deleniti cupiditate veniam perspiciatis nulla minus debitis optio! </p>
<style>
    .img-principal{
        display: block;
        margin: 0 auto;
        width: 80px;
        margin-bottom: 20px;
    }
    h1{
        margin-bottom: 20px;
    }
    p{
        font-size: 16px;
        line-height: 1.5;
    }
    h2{
        margin-bottom: 20px;
    }
    .container_buttons{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .container_buttons a{
        padding: 10px;
        display: block;
        text-decoration: none;
        min-width: 200px;
        background: rgb(82, 82, 255);
        color: white;
        text-align: center;
        margin-inline: 10px;
        border-radius: 4px;
        box-shadow: 1px 1px 4px 0px rgb(200, 200, 200);
        transition: 0.3s;
    }
    .container_buttons a:hover{
        transform: scale(1.05);
    }

</style>