    <header class="header">
        <nav class="nav">
            <div class="logo">
                <img src="../../static/img/goals-store.png">
            </div>
            <ul class="nav-list">
                <li><a href="#">Home</a></li>
                <li><a href="/static/index.html">Login</a></li>
                <li><a href="/static/new-account.html">Signin</a></li>
            </ul>
        </nav>
    </header>
    <style>

/* Estilos del encabezado */
.header {
    background-color: #15183a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header nav ul li{
    display: inline-block;
}
header nav ul a{
    color: white;
    padding: 7px;
    display: block;
    text-decoration: none;
}
header nav ul{
    display: flex;
    align-items: center;
}

header{
    width: 100%;
}
header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo img, footer img{
    height: 50px;
}

/* Estilos para diseño responsive */
@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        text-align: center;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .nav-icon {
        display: block;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }
}
    </style>