    <header class="header">
        <div class="logo">{{title_header}}</div>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Portafolio</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <style>

/* Estilos del encabezado */
.header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav {
    display: none;
}

/* Estilos para diseño responsive */
@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        text-align: center;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .nav-icon {
        display: block;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }
}
    </style>