
  <div class="note">
    <div class="note-content">
      {{note_content}}
    </div>
    <div class="note-date">
      {{date_note}}
    </div>
    <div class="note-buttons">
      <button class="update-button" id="{{id}}">Actualizar</button>
      <button class="delete-button" id="{{id}}">Eliminar</button>
    </div>
  </div>

  <!-- Puedes agregar más notas aquí -->

